module.exports = {
  "database": {
    dialect: 'sqlite',
    storage: 'database.sqlite'
  },
  "port": 1337,
  "dictionary": {
    "directory": "dict",
    "index": {
      "adj": "index.adj",
      "noun": "index.noun",
      "verb": "index.verb"
    }
  },
  "generator": {
    "patterns": [
      "an",
      "anV",
      "nVn",
      "anVn",
      "anVan"
    ]
  },
  "domain": "http://example.com/"
};
