<!doctype html>
<html>
  <head>
    <title>shortly.me - 404</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="./css/index.css">
    <script type="application/javascript" src="./js/jquery-2.1.3.min.js"></script>
    <script type="application/javascript" src="./js/index.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  </head>
  <body>
    <div id="header">
      <h1 id="title">shortly.me</h1>
      <div>
        An easily memorable URL shortener 
      </div>
    </div>
    <div id="content">
      <div id="features">
        <h1>Page 404 Not found</h1>
        <p>
          Oops! The page you requested could not be found.
        </p>
      </div>
    </div>
    <div id="footer">
      <p>Created by <a href="http://kkiro.kr/">Kkiro</a>.</p>
      <p>Powered by MongoDB, Express.js, WordNet, and others</p>
      <p><a href="http://wordnet.princeton.edu">Princeton University "About WordNet." WordNet. Princeton University. 2010.</a></p>
    </div>
  </body>
</html>
